body {
    align-items: center;
    background-color: #ebebe8;
    color: #1073a5;
    display: flex;
    font: {
        family: 'Open Sans', sans-serif;
    }
	justify-content: center;
    text-align: center;
}

q {
    display: block;
    font: {
        size: 3rem;
        style: italic;
        weight: 300;
    }
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.photo {
    border-radius: 50%;
    height: 3.125rem;
}
