body {
    background-color: #ebebe8;
    color: #1073a5;

    display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
    font: {
        family: 'Open Sans', sans-serif;
        size: 1.5rem;
    }
}
